*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body { 
    padding-top: 70px;
    line-height: 2.0rem;
 }

.header {
    background-color: #E2BE1C;
}

.awesome {
    color: #2B281A;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .Awesomee {
        display: block;
    }
    
}

.main-text {
    width: 80%;
    margin: 5%;
}
.main-page {
    background-color: #ffffff;
    background-size:contain;
    color: #2B281A;
}

.productSlide img {
    padding-right: 5%;
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.main-text button {
    background-color:#917c50;
}


.main-text a {
    text-decoration: none;
    color: white;
}

.contactus-page {
    background-color: #F4E5A4;
}


.collection-page {
    background-color: #F4E5A4;
    background-size:contain;
    color: #2B281A;
}

.aboutus-page {
    background-color: #F4E5A4;
    background-size: contain;
    color: rgb(44, 40, 40);
}

footer {
    background-color:#2B281A;
    color: #E2BE1C;
    background-size: cover;
}

footer a {
    text-decoration:none;
    color: #E2BE1C;
}

.form-signin {
    background-color: #E9CB49;
}
iframe{
    width: 100%;
    height: auto;
}

.faq {
    background-color: rgb(245, 245, 245);
}

.faq h2 {
    text-align: center;
}
/* .qmark img {
    width: 100%;
    height: auto;
} */


summary {
    font-size: 1.00rem;
    font-weight: 600;
    background-color: rgb(238, 238, 238);
    color: #333;
    padding: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
}
.faq__content {
    margin-left: 2%;
}
details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
}

details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
}

details > summary::-webkit-details-marker {
    display: none;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}

/* div#content {
    width: 100%; height: 100%;
} */

.mapLocation iframe {
    width: 1000px; 
    height: 400px;
}

.mapLocation {
    margin: 5% 0;
}

.fa-facebook-square{
    color:rgb(40, 40, 95);
}

.fa-instagram{
    color: rgb(230, 59, 130);
}

.fa-whatsapp-square{
    color: rgb(16, 170, 16);
}