body { 
    padding-top: 70px;
    line-height: 2.0rem;
 }

.header {
    background-color: #E2BE1C;
}

.awesome {
    color: #2B281A;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .Awesomee {
        display: block;
    }
    
}

.main-text {
    /* width: 60%; */
    margin: 5%;
}
.main-page {
    background-color: #F2E092;
    background-size:contain;
    color: #2B281A;
}

.main-page img {
    width: 50%;
    height: auto;
    margin: 5%;
}

@media screen and (max-width: 768px) {
    .main-page img {
        width: 100%;
        height: auto;
    }
}

.main-text button {
    background-color:#917c50;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.main-text a {
    text-decoration: none;
    color: white;
}

.contactus-page {
    background-color: #F4E5A4;
}


.collection-page {
    background-color: #F4E5A4;
    background-size:contain;
    color: #2B281A;
}

.aboutus-page {
    background-color: #F4E5A4;
    background-size: contain;
    color: rgb(44, 40, 40);
}

footer {
    background-color:#2B281A;
    color: #E2BE1C;
    background-size: cover;
}

footer a {
    text-decoration:none;
    color: #E2BE1C;
}

.form-signin {
    background-color: #E9CB49;
}
iframe{
    width: 100%;
    height: auto;
}



